.manzoku-animate-wavetext-letter-container {
  display: inline-block;
  overflow: hidden;
  line-height: 0;
}
.manzoku-animate-wavetext-letter {
  display: inline-block;
  line-height: 1em;
}
.manzoku-animate-wavetext{
  transition: 0.6s;
}
.manzoku-animate-slidescale{
  opacity: 0;
  transform-origin: 0 0;
}

.manzoku-animate-slidein{
  transform: translateX(-100%);
}

.manzoku-animate-slidedown{
  transform: translateY(-100%);
}

.manzoku-animate-slideup{
  transform: translateY(100%);
  opacity: 0;
}

.manzoku-animate-fadein .manzoku-animate-fadein2{
  opacity: 0;
}

.manzoku-animate-slidefadein{
  opacity: 0;
}