/* link all the other needed CSS files */
@import "bootstrap.css";
@import "bootstrap-extensions.css";
@import "animations.css";

@font-face {
  font-family: main0;
  src: url(../typefaces/Inter/Inter-Bold-slnt=0.ttf);
}

@font-face {
  font-family: main1Regular;
  src: url(../typefaces/Inter/Inter-Regular-slnt=0.ttf);
}

@font-face {
  font-family: main1SemiBold;
  src: url(../typefaces/Inter/Inter-SemiBold-slnt=0.ttf);
}

@font-face {
  font-family: main1Bold;
  src: url(../typefaces/Inter/Inter-Bold-slnt=0.ttf);
}

@font-face {
  font-family: main1Black;
  src: url(../typefaces/Inter/Inter-Black-slnt=0.ttf);
}


.theme1 {
  --manzoku-base: #ffcd40;
  --manzoku-primary: #0e0000;
  --manzoku-secondary: #fe2216;

  --manzoku-base-dark: #ce9909;
  --manzoku-base-light: #ffe9ac;
  /* --manzoku-primary-pos1: #62A474;
  --manzoku-primary-pos2: #528961;
  --manzoku-primary-pos3: #416D4D;
  --manzoku-primary-pos4: #235D3A;
  --manzoku-primary-pos5: #203626;
  --manzoku-primary-pos6: #101B13;

  --manzoku-primary-neg1: #87C999;
  --manzoku-primary-neg2: #9BD2AA;
  --manzoku-primary-neg3: #AFDBBB;
  --manzoku-primary-neg4: #C8EAD1;
  --manzoku-primary-neg5: #D7EDDD;
  --manzoku-primary-neg6: #EBF6EE; */

  --manzoku-accent1: #fe6c2b;
  --manzoku-accent1-dark: #a84115;
  --manzoku-accent1-light: #f3a888;

  --manzoku-accent2: #26c2c2;
  --manzoku-accent2-dark: #0d6d6d;
  --manzoku-accent2-light: #67ffff;

  --manzoku-contrast: #fff8e9;
  --manzoku-hard-contrast: #fff;
  --manzoku-hard-contrast-negative: #000;
}

.theme2 {
  --manzoku-base: #ffcd40;
  --manzoku-primary: #fff8e9;
  --manzoku-secondary: #fe2216;

  /* --manzoku-primary-pos1: #62A474;
  --manzoku-primary-pos2: #528961;
  --manzoku-primary-pos3: #416D4D;
  --manzoku-primary-pos4: #235D3A;
  --manzoku-primary-pos5: #203626;
  --manzoku-primary-pos6: #101B13;

  --manzoku-primary-neg1: #87C999;
  --manzoku-primary-neg2: #9BD2AA;
  --manzoku-primary-neg3: #AFDBBB;
  --manzoku-primary-neg4: #C8EAD1;
  --manzoku-primary-neg5: #D7EDDD;
  --manzoku-primary-neg6: #EBF6EE; */

  --manzoku-accent1: #fe6c2b;
  --manzoku-accent1-dark: #ce501a;
  --manzoku-accent1-light: #ff9668;

  --manzoku-accent2: #26c2c2;
  --manzoku-accent2-dark: #20a5a5;
  --manzoku-accent2-light: #34e0e0;

  --manzoku-contrast: #0e0000;
  --manzoku-hard-contrast: #000;
  --manzoku-hard-contrast-negative: #fff;
}

:root {
  font-size: 16px;
  font-family: main1Regular;
}

/* elements */
  a{
    color: var(--manzoku-accent1);
  }

/* typography */
  .manzoku-title{
    font-size: 4.6rem;
    font-family: main0;
  }
  .manzoku-regular{
    font-family: main1Regular;
  }
  .manzoku-semibold{
    font-family: main1SemiBold;
  }
  .manzoku-bold{
    font-family: main1Bold;
  }
  .manzoku-black{
    font-family: main1Black;
  }

/* text colors */
  .manzoku-color-base{
    color: var(--manzoku-base);
  }
  .manzoku-color-primary{
    color: var(--manzoku-primary);
  }
  .manzoku-color-secondary{
    color: var(--manzoku-secondary);
  }
  .manzoku-color-accent1{
    color: var(--manzoku-accent1);
  }
  .manzoku-color-accent2{
    color: var(--manzoku-accent2);
  }
  .manzoku-color-contrast{
    color: var(--manzoku-contrast);
  }

/* backgrounds */
  .manzoku-bg-base{
    background-color: var(--manzoku-base);
  }
  .manzoku-bg-primary{
    background-color: var(--manzoku-primary);
  }
  .manzoku-bg-secondary{
    background-color: var(--manzoku-secondary);
  }
  .manzoku-bg-accent1{
    background-color: var(--manzoku-accent1);
  }
  .manzoku-bg-accent2{
    background-color: var(--manzoku-accent2);
  }
  .manzoku-bg-contrast{
    background-color: var(--manzoku-contrast);
  }

/* button fills */
  .manzoku-btn-base {
    color: var(--manzoku-primary);
    background-color: var(--manzoku-base);
    border-color: var(--manzoku-base-dark);
  }
  .manzoku-btn-accent1 {
    color: var(--manzoku-contrast);
    background-color: var(--manzoku-accent1);
    border-color: var(--manzoku-accent1-dark);
  }
  .manzoku-btn-accent2 {
    color: var(--manzoku-contrast);
    background-color: var(--manzoku-accent2);
    border-color: var(--manzoku-accent2-dark);
  }

  .manzoku-btn-primary:hover, .manzoku-btn-accent1:hover, 
  .manzoku-btn-accent2:hover {
    filter: brightness(90%);
  }
  .manzoku-btn-primary.disabled, .manzoku-btn-accent1:disabled,
  .manzoku-btn-accent2:disabled {
    filter: brightness(70%);
  }

/* button outlines */
  .manzoku-btn-outline-base {
    color: var(--manzoku-base);
    background-color: transparent;
    border-color: var(--manzoku-base);
  }
  .manzoku-btn-outline-primary:hover {
    color: transparent;
    background-color: var(--manzoku-base);
    border-color: var(--manzoku-base-dark);
  }
  .manzoku-btn-outline-primary.disabled, .manzoku-btn-outline-primary:disabled {
    filter: brightness(70%);
  }
/* tables */
  .manzoku-table-head{
    border-top: 4px solid var(--manzoku-contrast);
    border-bottom: 4px solid var(--manzoku-contrast);
  }
  .manzoku-table{
    border-bottom: 4px solid var(--manzoku-contrast);
  }

/* others */
  .flat-hill{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0px;
  }
  input:checked + .slider {
    left: 100%;
    margin-left: -1.4rem;
  }input:not(:checked) + .slider {
    left: 0.2rem;
  }
  .slider{
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    top: 50%;
    transform: translateY(-50%);  
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch{
    position: relative;
    display: inline-block;
    width: 2.8rem;
    height: 1.6rem;
  }
  .rounded-switch{
    border-radius: 1.6rem;
  }

/* borders */
  .manzoku-border-contrast-1{
    border: 1px solid var(--manzoku-contrast)
  }
  .manzoku-border-contrast-2{
    border: 2px solid var(--manzoku-contrast)
  }
  .manzoku-border-contrast-3{
    border: 3px solid var(--manzoku-contrast)
  }
  .manzoku-border-contrast-4{
    border: 4px solid var(--manzoku-contrast)
  }
  .manzoku-border-contrast-5{
    border: 5px solid var(--manzoku-contrast)
  }