/* link all the other needed CSS files */
@import "bootstrap.css";
@import "bootstrap-extensions.css";
@import "animations.css";

@font-face {
  font-family: main0;
  src: url(../typefaces/Inter/Inter-Bold-slnt=0.ttf);
}

@font-face {
  font-family: main1Regular;
  src: url(../typefaces/Inter/Inter-Regular-slnt=0.ttf);
}

@font-face {
  font-family: main1SemiBold;
  src: url(../typefaces/Inter/Inter-SemiBold-slnt=0.ttf);
}

@font-face {
  font-family: main1Bold;
  src: url(../typefaces/Inter/Inter-Bold-slnt=0.ttf);
}

@font-face {
  font-family: main1Black;
  src: url(../typefaces/Inter/Inter-Black-slnt=0.ttf);
}


.theme1 {
  --manzoku-base: #59C9A5;
  --manzoku-primary: #5B6C5D;
  --manzoku-secondary: #5B6C5D;

  /* --manzoku-primary-pos1: #62A474;
  --manzoku-primary-pos2: #528961;
  --manzoku-primary-pos3: #416D4D;
  --manzoku-primary-pos4: #235D3A;
  --manzoku-primary-pos5: #203626;
  --manzoku-primary-pos6: #101B13;

  --manzoku-primary-neg1: #87C999;
  --manzoku-primary-neg2: #9BD2AA;
  --manzoku-primary-neg3: #AFDBBB;
  --manzoku-primary-neg4: #C8EAD1;
  --manzoku-primary-neg5: #D7EDDD;
  --manzoku-primary-neg6: #EBF6EE; */

  --manzoku-accent1: #EF6F6C;
  --manzoku-accent1-dark: #ca5957;
  --manzoku-accent1-light: #ff9e9d;

  --manzoku-accent2: #465775;
  --manzoku-accent2-dark: #324361;
  --manzoku-accent2-light: #647797;

  --manzoku-contrast: #EDF6F9;
  --manzoku-hard-contrast: #fff;
  --manzoku-hard-contrast-negative: #000;
}

.theme2 {
  --manzoku-base: #235D3A;
  --manzoku-main: #73C088;

  --manzoku-main-pos1: #62A474;
  --manzoku-main-pos2: #528961;
  --manzoku-main-pos3: #416D4D;
  --manzoku-main-pos4: #235D3A;
  --manzoku-main-pos5: #203626;
  --manzoku-main-pos6: #101B13;

  --manzoku-main-neg1: #87C999;
  --manzoku-main-neg2: #9BD2AA;
  --manzoku-main-neg3: #AFDBBB;
  --manzoku-main-neg4: #C8EAD1;
  --manzoku-main-neg5: #D7EDDD;
  --manzoku-main-neg6: #EBF6EE;

  --manzoku-accent1: #A673C0;
  --manzoku-accent2: #C073AB;
  --manzoku-accent3: #C0737C;

  --manzoku-contrast: #fff;
}

:root {
  font-size: 16px;
  font-family: main1Regular;
}

/* elements */
  a{
    color: var(--manzoku-accent1);
  }

/* typography */
  .manzoku-title{
    font-size: 4.6rem;
    font-family: main0;
  }
  .manzoku-regular{
    font-family: main1Regular;
  }
  .manzoku-semibold{
    font-family: main1SemiBold;
  }
  .manzoku-bold{
    font-family: main1Bold;
  }
  .manzoku-black{
    font-family: main1Black;
  }

/* text colors */
  .manzoku-color-base{
    color: var(--manzoku-base);
  }
  .manzoku-color-main{
    color: var(--manzoku-main);
  }
  .manzoku-color-accent1{
    color: var(--manzoku-accent1);
  }
  .manzoku-color-accent2{
    color: var(--manzoku-accent2);
  }
  .manzoku-color-contrast{
    color: var(--manzoku-contrast);
  }

/* backgrounds */
  .manzoku-bg-base{
    background-color: var(--manzoku-base);
  }
  .manzoku-bg-main{
    background-color: var(--manzoku-main);
  }
  .manzoku-bg-accent1{
    background-color: var(--manzoku-accent1);
  }
  .manzoku-bg-accent2{
    background-color: var(--manzoku-accent2);
  }
  .manzoku-bg-contrast{
    background-color: var(--manzoku-contrast);
  }

/* button fills */
  .manzoku-btn-primary {
    color: var(--manzoku-base);
    background-color: var(--manzoku-accent1);
    border-color: var(--manzoku-accent1-dark);
  }

  .manzoku-btn-primary:hover {
    color: var(--manzoku-base);
    filter: brightness(90%);
  }

  .manzoku-btn-primary.disabled, .manzoku-btn-primary:disabled {
    filter: brightness(70%);
  }

  .manzoku-btn-secondary {
    color: var(--manzoku-contrast);
    background-color: var(--manzoku-accent2);
    border-color: var(--manzoku-accent2-dark);
  }

  .manzoku-btn-primary:hover {
    filter: brightness(90%);
  }

  .manzoku-btn-primary.disabled, .manzoku-btn-primary:disabled {
    filter: brightness(70%);
  }

/* button outlines */
  .manzoku-btn-outline-primary {
    color: var(--manzoku-accent1);
    background-color: transparent;
    background-image: none;
    border-color: var(--manzoku-accent1);
  }

  .manzoku-btn-outline-primary:hover {
    color: var(--manzoku-base);
    background-color: var(--manzoku-accent1);
    border-color: var(--manzoku-accent1-dark);
  }
  .manzoku-btn-outline-primary.disabled, .manzoku-btn-outline-primary:disabled {
    filter: brightness(70%);
  }
/* tables */
  .manzoku-table-head{
    border-top: 4px solid var(--manzoku-contrast);
    border-bottom: 4px solid var(--manzoku-contrast);
  }
  .manzoku-table{
    border-bottom: 4px solid var(--manzoku-contrast);
  }

/* others */
  .flat-hill{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0px;
  }
  input:checked + .slider {
    left: 100%;
    margin-left: -1.4rem;
  }input:not(:checked) + .slider {
    left: 0.2rem;
  }
  .slider{
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    top: 50%;
    transform: translateY(-50%);  
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch{
    position: relative;
    display: inline-block;
    width: 2.8rem;
    height: 1.6rem;
  }
  .rounded-switch{
    border-radius: 1.6rem;
  }

/* borders */
  .manzoku-border-contrast-1{
    border: 1px solid var(--manzoku-contrast)
  }
  .manzoku-border-contrast-2{
    border: 2px solid var(--manzoku-contrast)
  }
  .manzoku-border-contrast-3{
    border: 3px solid var(--manzoku-contrast)
  }
  .manzoku-border-contrast-4{
    border: 4px solid var(--manzoku-contrast)
  }
  .manzoku-border-contrast-5{
    border: 5px solid var(--manzoku-contrast)
  }